
        /*Slut test 2*/

/*Sätter margin och padding på 0 som standard*/
*{
    margin: 0;
    padding: 0;
}

body{
    /*bakgrundsfärgen*/
    background:#1a1a1a;
   /*background: #491b1e;*/
}

/*Gör att wrapper är 100% av skärmen*/
.wrapper {
    width: 100%;
}

.nav-area{
    /*Positionerar navigeringsmenyn till höger*/
    float: right;
    /*tar bort styling från listan*/
    list-style: none;
    /*skapar 30px mellanrum från toppen*/
    margin-top: 30px;
}

.nav-area li {
    /*Visar listan bredvid varandra*/
    display: inline-block;
}

.nav-area li a {
    /*ändrar färg på listan*/
    color: #fff;
    /*tar bort understrukningen*/
    text-decoration: none;
    /*skapar mellanrum*/
    padding: 5px 20px;
    /*ändrar font*/
    font-family: poppins;
    /*ändrar storlek på text*/
    font-size: 14px;
}

/*skapar en hovering animation när man håller över ett element i listan*/
.nav-area li a:hover{
    background: #fff;
    color: #333;
}


.container {
    background: #491b1e;
    margin: 10% 32%;
    position: absolute;
    height: 500px;
    width: 500px;
}
.container h1 {
    text-align: center;
    color: #fff;
}

.container p {
    padding: 2px;
    color: #fff;
    padding: 20px;
}
